*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Georama', sans-serif;

}

.navbar {
    height: 90px;
    z-index: 99999;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}

.navbar-container {
    display:flex;
    height: 80px;
    z-index: 999;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    min-width: 480px;
    justify-content: center;
    position: relative;
    left:300px;
}

.navbar-items {
    height: 30px;
    width: 160px;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
    top:30%;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
}

.navbar-items:hover{
    opacity: 70%;
    animation: fadeOut 2s;
    opacity: .25;
}

@keyframes fadeIn{
    from{
        opacity: .25;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
       opacity: .25;
    }
  }

.contact-button{
    height: 50px;
    width: 160px;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
    top:25%;
    background:#04051b;
    text-align: center;
    border-radius: 5px;;
    animation: slide-in-right .5s ease-in-out both;
}

.contact-button:hover{
    opacity: 70%;
    transition: background-color 300ms linear 0s, transform 300ms ease-in-out 0s;
}

.contact-button a{
    text-align: center;
    font-size: 16pt;
    color: white;
    text-decoration: none;
    position: relative;
    top: 13px;
}

.navbar-items a{
    text-align: center;
    font-size: 16pt;
    color: white;
    text-decoration: none;
}

.website-top-section {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.8491771708683473) 0%, rgba(18,76,78,1) 5%, rgba(34,193,195,1) 30%, rgba(253,187,45,1) 100%);
    width:100%;
    height: 105vh;
    min-height: 660px;
    animation: fade-in .25s;
}

.header-container{
    display: block;
    justify-content: center;
    width: auto;
    height: auto;
    margin-top: 15%;
}

.hero {
    margin: auto;
    min-height: 680px;
    width: auto;
    justify-content: center;
}

.hero h1{
    font-size: 88pt;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: rgb(220, 220, 220);
    animation: fade-in-bottom 1.5s ease-out both;
}

.hero p{
    margin-top: 8vh;
    font-size: 24pt;
    text-align: center;
    color: rgb(220, 220, 220);
    margin-left: 100px;
    margin-right: 100px;
    animation: fade-in-bottom 1.5s ease-in-out both;
}

.view-content-button-container{
    position: relative;
    height: 35px;
    width: 220px;
    bottom: 100px;
    left: 50%;
    margin-left: -110px;
    text-align: center;
}

.view-content-button{
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
    transition: ease .1s;
    color: rgb(220, 220, 220);
    animation: fade-in .75s ease-in-out both;
}

.view-content-button:hover{
    font-size: 17pt;
    opacity: 70%; 
    transition: ease .3s;
    text-decoration: underline;
}


.website-bottom-section{
    min-height: 960px;
    padding-top: 10px;
}

.portfolio-container{
    min-height: 720px;
    margin-bottom: 10vh;
    display: block;
    justify-content: center;
    justify-content: center;
}

.portfolio-title{
    font-size: 80pt;
    text-align: center;
    margin-top: 10%;
    margin-bottom:2%;
    color: black;
}

.portfolio-description{
    font-size: 16pt;
    text-align: center;
    color: black;
}

.info-card {
    display: flex;
    height: 25vh;
    min-height: 160px;
    width: 80vw;
    margin-top: 3%;
    position: relative;
    left: 120px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    transition: ease-in .5s;
}

.info-card-picture{
    height: 25vh;
    border-radius: 10px 0px 0px 10px;
}

.info-card:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(0, 0, 0, .5);
    transition: ease .5s;
}

.card-header-link{
    color: inherit;
    text-decoration: none;
    font-style: none;
}

.card-header-link:hover{
    color: inherit;
    text-decoration: none;
    transform: scale(1.025);
    transition: ease-out 1s;
}

.info-card a{
    color: inherit;
    font-style: italic;
}

.card1header{
    margin: 10px;
}

.card1content{
    overflow: auto;
    margin: 15px;
    font-size: 110%;
}

.card2header{
    margin: 20px;
    padding-top: 15px;
}

.card2content{
    overflow: auto;
    margin: 15px;
    font-size: 110%;
}

.card3header{
    margin: 20px;
    padding-top: 15px;
}

.card3content{
    margin: 15px;
}

.about-section-container{
    min-height: 800px;
    display: block;
    justify-content: center;
    margin-top: 3vh;
}

.about-me-header{
    text-align: center;
    font-size: 44pt;
}

.about-me-content{
    margin: 50px;
    text-align: center;
    font-size: 26pt;
}

.grid-pictures{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 45px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 4vw);
    grid-gap: 25px;
}

.grid-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: ease-out 1s;
}

.grid-image img{
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
    transition: ease-out 1s;
}

.grid-image:hover{
    transform: scale(1.025);
    transition: ease-out 1s;
}

.image1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    object-fit: cover;
}

.image2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    object-fit: cover;
}

.image3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    object-fit: cover;
}

.image4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
    object-fit: cover;
}

.image5 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
    object-fit: cover;
}

.image6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
    object-fit: cover;
}

.qualifications-title{
    margin: 1vh;
    margin-top: 12vh;
    text-align: center;
    font-size: 60pt;
}

.q-header{
    margin: 2vh;
    margin-top: 3vh;
    text-align: center;
    font-size: 20pt;
}

.q-card-container{
    display: flex;
    justify-content: center;
}

.q-card{
    background: linear-gradient(to right, rgb(24, 235, 102) 34%, white 65%);
    background-size: 300% 100%;
    background-position: right bottom;
    height: 50px;
    width: 150px;
    margin: 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
    transition: ease-in .5s;
}

.q-card:hover{
    background-position: left 10% bottom;
    box-shadow: 2.5px 2.5px 2.5px 2.5px;
    transition: ease-out .5s;
}

.q-card-text{
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
}

.k-card{
    overflow: auto;
    display: block;
    margin: auto;
    margin-bottom: 25px;
    width: 50vw;
    height:50px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
}

.appear{
    opacity: 0;
}

.appear:hover{
    opacity:1;
    transition: ease-in-out 1s;
}

.contact-links{
    padding-top: 5vh;
    padding-bottom:10vh;
    height:300px;
    display: flex;
    justify-content: center;
}

.boxes {
    margin: 25px;
    animation: fadeInExpand .5s ease-out;
    background-color: white;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

.boxes:hover{
    animation: fadeOutShrink .5s ease-in-out;
    opacity: .8;
    transform: scale(.9);
}

.contact-link{
    margin-left: 15px;
    margin-right: 15px;
}

.box1{
    background-image:url("images/linkedinlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:0px 0px;
}


.box2{
    background-image:url("images/githublogo.png");
    background-repeat: no-repeat;
    background-size: 135% 80%;
    background-position: center;
}

.box3{
    margin: 25px;
    background-color: white;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    background-image: url("images/downloadicon.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 0 10px;
    animation: slide-up .25s ease-in-out;
}

.box3:hover{
    animation: slide-down .5s ease-in;
    transform: translateY(10%);
    opacity: .9;
    
}

footer{
    min-height: 180px;
    text-align: center;
    background-color: lightgrey;
}

footer p{
    position: relative;
    padding-top: 80px;
}

.js-scroll {
    animation: fade-out .5s;
    opacity: 0;
    transition: opacity .5s;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left .5s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right .5s ease-in-out both;
}

@keyframes slide-down{
    from{transform: translateY(0);}
    to{
        transform: translateY(10%);
        opacity: .9;
    }
}

@keyframes slide-up{
    from{
        transform: translateY(10%);
        opacity: .9;
    }
    to{transform: translateY(0);}
}

@keyframes fadeOutShrink {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: .8;
        -webkit-transform: scale(.90);
        transform: scale(.90);
    }
}

@keyframes fadeInExpand {
    from {
        opacity: .8;
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    to {
       opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
    }
  }  

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width:960px) {
    .navbar-menu{
        left:60px;
    }
    .navbar-items a{
        font-size: 12pt;    
    }
    .hero h1{
        font-size: 68pt;
    }
    .hero p{
        font-size: 18pt;
    }
    .info-card{
        left: 25px;
    }
    .contact-button a{
        font-size: 12pt;
    }
    .navbar-menu{
        left: 0px;
    }

    .grid-pictures{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(21, 4vw);
        grid-gap: 25px;
    }
    
    .image1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        object-fit: cover;
    }

    .image2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 10;
        object-fit: cover;
    }

    .image3 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 10;
        object-fit: cover;
    }

    .image4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 14;
        object-fit: cover;
    }

    .image5 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 14;
        object-fit: cover;
    }

    .image6 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 14;
        grid-row-end: 22;
        object-fit: cover;
    }

    .boxes {
        height: 100px;
        width: 100px;
    }

    .box3 {
        height: 100px;
        width: 100px;
    }

    .contact-links{
        height: 120px;
    }

    .portfolio-title{
        font-size: 52pt;
        margin-bottom: 2vh;
    }

    .portfolio-description{
        margin-bottom: 2vh;
    }

    .portfolio-container{
        margin-top: 5vh;
    }

    .k-card{
        width: 80%;
    }

    .card1content{
        font-size: 12pt;
    }

    .card2content{
        font-size: 12pt;
    }

    .card3content{
        font-size: 12pt;
    }

    .info-card{
        height: 15vh;
    }

    .info-card-picture{
        height: 15vh;
        justify-self: center;
    }

}
