* {
    transition: opacity 1s ease-in-out, transform .35s ease-in-out;
}
.js-scroll {
    opacity: 0;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    opacity: 1;
}

.fade-in,
.fade-in-top{
    opacity: 0;
}

.fade-in-top {
    transform: translateY(-50px);
}

.fade-in,
.fade-in-bottom {
    opacity: 0;
}

.fade-in-bottom {
    transform: translateY(50px);
}

.scrolled.fade-in-bottom {
    transform: translateY(0);
}

.slide-left {
    opacity: 0;
    transform: translateX(-150px);
}

.scrolled.slide-left {
    opacity: 1;
    transform: translateX(0);
}