*{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Georama', sans-serif;
    scroll-behavior: smooth;
}
a{
    color:rgba(14,14,14,0.7)
}
.page-top{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 100%);
}

body {
    background-color: rgb(243, 243, 243);
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 900px;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
    position: relative;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    min-width: 360px;
    justify-content: center;
}

.navbar-items {
    display: flex;
    justify-content: center;
	align-content: flex-end;
    width: 15vw;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:100%;
    transform: translateY(10px);
    opacity: 0;
    background-color: aliceblue;
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100%;
    left: 0;
    right: 0;
	transition: all 0.5s ease;
}
  
.navbar-items.dropdown:hover .dropdown-content {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	opacity: 1;
	transform: translateY(0);
}

.dropdown-content a {
	transition: all 0.3s ease;
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
	position: relative;
	z-index: 999;
	margin:20px;
  }

.navbar-items a {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 1rem;
	text-decoration: none;
}

.navbar-items a:hover {
	color: deepskyblue;
}

.header-container{
    margin: 3vh;
    font-size: 4.4vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.cursor{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 2vw;
    height: 5.0vw;
    margin-left: 5px;
    font-size: 4vw;
    font-weight: bold;
    bottom: 0;
    right: -10px;
    animation: cursor 1s step-end infinite;
    visibility: hidden;
    position: relative;
    top: -5px;
}

@keyframes cursor {
    from, to { visibility: hidden; }
    35% { visibility: visible; }
}

.content-container{
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    animation: fade-in 1s ease-in-out;
}
.content-header{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 4.2rem;
}
.content-container p{
    font-size: 1.6rem;
}
.tabs {
	list-style: none;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	width: 100%;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	display: flex;
	justify-content: space-between;
}
.tab-nav {
	background-color: #ffffff;
	width: 33%;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	opacity: 0.5;
	transition: ease-in-out 0.4s;
}
.tab-nav a{
	text-decoration: none;
	color: var(--primary-text-color);
	display: block;
    padding: 2.4%;
    width: 100%;
    height: 100%;
}
.tab-nav.active {
	opacity: 1;
	border-radius: 12px 12px 0 0;
	transition: ease-in 0.2s;
}
.tab-nav:hover{
	opacity: 1;
	border-radius: 12px 12px 0 0;
	cursor: pointer;
	transition: ease-in 0.2s;
}
.tab-content.active {

}
.tab-content.hidden{
	opacity: 0;
	transition: all ease-out var(--tab-transition_time);
}
.tab-content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	opacity: 1;
	transition: all ease-in var(--tab-transition_time);
	border-left: 2px solid var(--pimrary-app-window-border-color);;
	border-right: 2px solid var(--pimrary-app-window-border-color);;
	border-bottom: 2px solid var(--pimrary-app-window-border-color);;
	border-radius: 0 0 12px 12px;
	width: 75%;
	background-color: var(--primary-app-window-color);
	margin-left: auto;
	margin-right: auto;
	min-height: 50vh;
}
.tab-nav, .tab-content{
	box-sizing: border-box;
	border-width: 2px;
}
.schematic-img{
    margin: 50px;
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.materiallist{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: left;
}
.materiallist li{
    padding:1px;
    font-size:1.2rem;
}
.cat-imgs-container{
    padding-top:2vh;
    margin-bottom: 2vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cat-imgs-container img{
    height:25vh;
    width: auto;
    margin: 5px;
    border-radius: 1px;
    transition:ease-in-out .15s;
}
.cat-imgs-container img:hover{
    transform: scale(1.05);
    transition:ease-out .25s;
}
.prototype-content-container{

}
.prototype-content-container img{
    height: 40vh;
    width: auto;
    margin: 2vh;
}

.soft-imgs-container{
    margin-top:5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.software-image{
    width: 100%;
    margin: 25px;
    transition: .1s ease;
}

.software-image:hover{
    transform: scale(1.1);
    transition: .25s ease;
}

footer{
    min-height: 180px;
    text-align: center;
    background-color: lightgrey;
    padding-bottom: px;
}

footer p{
    position: relative;
    padding-top: 80px;
    font-size: 18pt;
}
/*
Scrolling behavior
*/

.js-scroll {
    animation: fade-out .5s;
    opacity: 0;
    transition: opacity .5s;
    transition: .1s ease;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left .5s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right .5s ease-in-out both;
}

/***
Animations
***/

@keyframes fadeIn{
    from{
        opacity: .5;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
       opacity: .5;
    }
  }

  @keyframes slide-down{
    from{transform: translateY(0);}
    to{
        transform: translateY(10%);
        opacity: .9;
    }
}

@keyframes slide-up{
    from{
        transform: translateY(10%);
        opacity: .9;
    }
    to{transform: translateY(0);}
}

@keyframes fadeOutShrink {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: .8;
        -webkit-transform: scale(.90);
        transform: scale(.90);
    }
}

@keyframes fadeInExpand {
    from {
        opacity: .8;
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    to {
       opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
    }
  }  

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width:960px) {
    .content-container{
        width: 90%;
    }
    .materiallist{
        width: 90%;
    }
    .materiallist li{
        font-size:1.6rem;
    }
    .cat-imgs-container{
        width: 100%;
    }
    .cat-imgs-container img{
        height:15vh;
    }
    .cat-imgs-container img:hover{
        transform: scale(1.15);
    }
    .prototype-content-container img{
        height: 20vh;
        margin: .5vh;
    }
    .software-image{
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    footer{
        min-height: 120px;
    }
}