*{
	font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Georama', sans-serif;
}


.mySlides {
	display: none;
}

body {
	background-color: rgb(204, 204, 204);
	font-family: Verdana, sans-serif;
    display: block;
    justify-content: center;
	min-width: 900px;
}

.div{
    display: inline-block;
}

.head {
	height:auto;
	margin-top: 5vh;
	margin-right: 20vw;
	margin-left: 20vw;
	text-align: center;
	font-size: 40pt;
	font-size: 6vh;
	background-color: #e12a2a;
	color: white;
	border-radius: 19px;
	font-weight: bolder;
	border-radius: 5px;
	box-shadow: #8f4040 6px 6px 6px;
}

.data-container {
	width: 945px;
	height: 35vh;
	position: relative;
	margin: 0 auto;
	margin-top: 10vh;
}

.bar {
    display: inline-block;
	width: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: deepskyblue;
	transition: 0.15s all ease;
}

.bar:hover{
	transition: all ease .1s;
	transform: scale(.85);
	opacity: 75%;
}

.button-container{
    display: flex;
    justify-content: center;
}

.bar_id {
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	font-weight: 999;
}

.button {
	padding: 12px;
	font-weight: bolder;
	background-color: #e12a2a;
	border-radius: 10px;
	color: white;
	font-size: 16pt;
	font-size: 2.25vh;
	border: white;
	margin-top: 2.5vw;
	margin-right: 1vw;
	animation: fadeInExpand .25s ease-out;
	box-shadow: gray 3px 3px 3px;
	transition: ease-in-out .35s;
}
.button:hover{
	animation: fadeOutShrink .25s ease-in-out;
    opacity: .8;
    transform: scale(.95);
	box-shadow: 0px 0px 0px;
	border-radius: 20px;
}
.speedselectcontainer{
	font-size: 16pt;
    margin: 30px;
    text-align: center;

}

@keyframes fadeOutShrink {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: .8;
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
}

@keyframes fadeInExpand {
    from {
        opacity: .8;
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    to {
       opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
    }
  } 

@media screen and (max-width:960px) {
	.body{
		margin: auto;
		width: 100%;
	}
	.data-container{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.button-container{
		flex-direction: column;
	}
	.button{
		height: 85px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		font-size: 24pt;
	}
	.speedselectcontainer{
		font-size: 24pt;
	}
	.speedselect{
		font-size: 24pt;
	}
	.bar{
		width: 18px;
	}
}  