*{
	font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Georama', sans-serif;
}


.mySlides {
	display: none;
}

body {
	background-color: rgb(255, 235, 211);
	font-family: Verdana, sans-serif;
    display: block;
    justify-content: center;
	min-width: 900px;
}

.div{
    display: inline-block;
}

.head {
	margin-top: 20px;
	margin-right: 20vw;
	margin-left: 20vw;
	text-align: center;
	font-size: 40pt;
	background-color: #2a92e1;
	color: white;
	border-radius: 19px;
	font-weight: bolder;
}

.data-container {
	width: 900px;
	height: 600px;
	position: relative;
	margin: 0 auto;
}

.bar {
    display: inline-block;
	width: 24px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: deepskyblue;
	transition: 0.15s all ease;
}

.button-container{
    display: flex;
    justify-content: center;
}

.bar_id {
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	font-weight: 999;
}

.button {
	padding: 12px;
	font-weight: bolder;
	background-color: #2d7bc4;
	border-radius: 10px;
	color: white;
	font-size: 16pt;
	border: white;
	margin-top: 4vw;
	margin-right: 1vw;
	animation: fadeInExpand .25s ease-out;
}
.button:hover{
	animation: fadeOutShrink .25s ease-in-out;
    opacity: .8;
    transform: scale(.95);
}
.speedselectcontainer{
	font-size: 16pt;
    margin: 30px;
    text-align: center;

}

@keyframes fadeOutShrink {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: .8;
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
}

@keyframes fadeInExpand {
    from {
        opacity: .8;
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    to {
       opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
    }
  } 

@media screen and (max-width:960px) {
	.body{
		margin: auto;
		width: 100%;
	}
	.data-container{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.button-container{
		flex-direction: column;
	}
	.button{
		height: 85px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		font-size: 24pt;
	}
	.speedselectcontainer{
		font-size: 24pt;
	}
	.speedselect{
		font-size: 24pt;
	}
	.bar{
		width: 18px;
	}
}  